<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.lovemap.lovemapbackend.logging.MaskingPatternLayout">
                <patternsProperty>(password)|(passwordHash)</patternsProperty>
                <pattern>%date{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <!--    <appender name="FILE_BASED" class="h.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>log/lovemap.log</file>-->
    <!--        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
    <!--            <layout class="com.lovemap.lovemapbackend.logging.MaskingPatternLayout">-->
    <!--                <patternsProperty>(password)|(passwordHash)</patternsProperty>-->
    <!--                <pattern>%date{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>-->
    <!--            </layout>-->
    <!--        </encoder>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <FileNamePattern>log/lovemap-%d{yyyy-MM-dd}.log</FileNamePattern>-->
    <!--        </rollingPolicy>-->
    <!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
    <!--            <MaxFileSize>1024MB</MaxFileSize>-->
    <!--        </triggeringPolicy>-->
    <!--    </appender>-->

    <root level="INFO">
        <!--        <appender-ref ref="FILE_BASED"/>-->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>